#mack{
	width:1263px;
	height:600px;
	background:rgba(255,255,255,0.5);
	position:fixed;
	left:0;
	top:0;
	z-index:11111111111111111111;
}
#mack img{
	position:fixed;
	left:35px;
	top:20px;
}
#mack span{
	position: absolute;
    top: 30px;
    right: 40px;
    width: 30px;
    height: 30px;
	background: url(../images/closedz01.png);
}
#picBox{
	width:1200px;
	height:535px;
	background:indianred;
	margin:0 auto;
	margin-top:80px;
	position:relative;
	overflow: hidden;
}
#picBox .picList{
	position:absolute;
	left:0;
	top:0;
}
#picBox .picList img{
	width:1200px;
	height:535px;
}
#picBox .round{
	position: absolute;
	bottom: 20px;
	left:670px;
}
#picBox .round span{
	width: 20px;
	float:left;
	height:20px;
	line-height:20px;
	text-align: center;
	background-color:#a10000;
	color:white;
	border-radius:50%;
	margin: 0 5px;
}
#picBox button.btn{
	height: 80px;
	line-height: 50px;
	display: block;
	background-color: rgba(255,255,255,0.5);
	font-size: 30px;
	text-align: center;
	position: absolute;
	top:50%;
	margin-top: -25px;
	cursor: pointer;
	z-index: 1000;
	border:none;
}
#picBox .left_btn{
	left: 0;
}
#picBox .right_btn{
	right: 0;
}
.tu{
	width:1200px;
	margin:0 auto;
	margin-top:40px;
}
#new{
	width:1200px;
	margin:0 auto;	
	margin-top:25px;
}
#new a h2.h2{
	background:url(../images/mm.jpg);
	height: 64px;
    line-height: 64px;
    text-align: center;
    color: #9a9a9a;
    font-size: 18px;
}
#new a h2.h2 .sp{
	color: #a10000;
    margin-left: 20px;
    float: right;
    padding-right: 30px;
}
#new a h2.h2 .sp .clear{
	color:#fff;
	float:left;
	margin-right:20px;
}
#new a h2.h2 .sp em:nth-child(2){
	padding-right: 35px;
}
#new a h2.h2 .sp em:nth-child(3){
	padding-right: 35px;
}
#kill{
	width: 1200px;
    color: #474747;
    font-weight: bold;
    margin: 0 auto;
}
#kill ul{
	overflow: hidden;
    margin: 10px 0 0 0;
    padding: 0;
    width: 1210px;
}
#kill ul li{
	float: left;
    width: 232px;
    margin-right: 10px;
    list-style: none;
}
#kill ul li a{
	text-decoration: none;
    color: #474747;
}
#kill ul li a img{
	width:232px;
	height:232px;
}
#kill ul li a .ame{
	overflow:hidden;
	line-height:21px;
}
#kill ul li  .ame .oA{
	font-size:16px;
	margin-top: 10px;
    height: 45px;
    font-weight: normal;
}
#kill ul li  .price{
	position: relative;
    margin-top: 10px;
}
#kill ul li  .price .pr1{
	display: block;
    color: #d3d3d3;
    font-size: 14px;
    text-decoration: line-through;
    font-weight: normal;
}
#kill ul li  .price .pr1 em{
	color: #d3d3d3;
}
#kill ul li  .price .pr2{
	display: block;
    color: #bb2b34;
    font-size: 16px;
}
#kill ul li  .price .pr2 em{
	color: #bb2b34;
    font-size: 16px;
}
#kill ul li  .price .pr3{
	position: absolute;
    right: 10px;
    bottom: -5px;
    font-size: 16px;
    font-weight: normal;
}
#kill ul li  .price .pr3 em{
	font-size: 24px;
    font-style: normal;
    color: #bb2b34;
    font-weight: bolder;
}
.nap{
	margin:0 auto;
	width:1200px;
	margin-top:20px;
}
#clo{
	width:1200px;
	margin:0 auto;
}
#clo img{
	margin-left:28px;
}
.qu{
	width:1200px;
	margin:0 auto;
}
.qu img{
	margin-top:20px;
}
#cs{
	width:1200px;
	margin:0 auto;
	margin-top:20px;
}
#cs img{
	width:290px;
	margin-left:7px;
}
#picList{
	width:1200px;
	margin:0 auto;
	height:600px;
}
#picList h2{
	text-align: center;
    line-height: 50px;
    margin: 30px 0px;
    color: #9a9a9a;
    font-size: 18px;
}
#picList ul li{
	float: left;
    margin-right: 11px;
    display: inline;
}
#picList ul li:nth-child(1){
	width:590px;
}
#picList ul li:nth-child(1) h3{
	height: 28px;
    padding: 20px 12px;
    line-height: 28px;
    border: 1px solid #e8e7ec;
    border-top: 0px;
    font-size: 14px;
}
#picList ul li:nth-child(1) h3 span{
	float: right;
    color: #a10000;
    font-family: Arial;
    line-height: 24px;
    font-size: 14px;
}
#picList ul li:nth-child(2){
	width:290px;
}
#picList ul li:nth-child(2) {
	margin-bottom: 8px;
}
#picList ul li:nth-child(2) h3{
	height: 28px;
    padding: 20px 12px;
    line-height: 28px;
    border: 1px solid #e8e7ec;
    border-top: 0px;
    font-size: 14px;
}
#picList ul li:nth-child(2) h3 span{
	float: right;
    color: #a10000;
    font-family: Arial;
    line-height: 24px;
    font-size: 14px;
}
#picList ul li:nth-child(3){
	width:290px;
}
#picList ul li:nth-child(3){
	margin-bottom: 8px;
}
#picList ul li:nth-child(3) h3{
	height: 28px;
    padding: 20px 12px;
    line-height: 28px;
    border: 1px solid #e8e7ec;
    border-top: 0px;
    font-size: 14px;
}
#picList ul li:nth-child(3)  h3 span{
	float: right;
    color: #a10000;
    font-family: Arial;
    line-height: 24px;
    font-size: 14px;
}
#picList ul li:nth-child(4){
	width:286px;
	margin-top:-260px;
}
#picList ul li:nth-child(4) h3{
	height: 28px;
    padding: 20px 12px;
    line-height: 28px;
    border: 1px solid #e8e7ec;
    border-top: 0px;
    font-size: 14px;
}
#picList ul li:nth-child(4) h3 span{
	float: right;
    color: #a10000;
    font-family: Arial;
    line-height: 24px;
    font-size: 14px;
}

#pic{
	width:1200px;
	margin:0 auto;
}
#pic h2{
	text-align: center;
    line-height: 50px;
    margin: 30px 0px;
    color: #9a9a9a;
    font-size: 18px;
}
#pic ul li{
	width:285px;
	height:508px;
	float:left;
	display:inherit;
	margin-bottom: 20px;
	margin-left:13px;
}
#pic ul li h3{
	height: 28px;
    padding: 20px 12px;
    line-height: 28px;
    border: 1px solid #e8e7ec;
    border-top: 0px;
    font-size: 14px;
}
#pic ul li h3 span{
	float: right;
    color: #a10000;
    font-family: Arial;
    line-height: 24px;
    font-size: 14px;
}
#Foot{
	overflow: hidden;
    width: 1118px;
    height: 282px;
    margin: 0px auto;
    padding: 0px 40px 0px;
    border: 1px solid #e0e0e1;
    font-family: "Microsoft YaHei";
    margin-bottom: 25px;
}
#Foot .fo1{
	margin: 33px 0px 23px;
    overflow: hidden;
}
#Foot .fo1 ul li{
	width: 370px;
    height: 138px;
    border-right: 1px solid #e0e0e1;
    margin-right: 0px;
    float:left;
}
#Foot .fo1 ul li a p.g{
	text-align: center;
    font-size: 14px;
    color: #727171;
    line-height: 26px;
}
#Foot .fo1 ul li a p.g1{
	margin: 0px auto;
    width: 156px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    background: #b81c22;
    color: #ffffff;
}
#Foot .fo1 ul li a p.qi{
	text-align: center;
    font-size: 14px;
    color: #727171;
    line-height: 26px;
}
#Foot .fo1 ul li.erweima{
	border-right:none;
}
#Foot .fo1 ul li.erweima p.ma1{
	text-align: center;
    font-size: 14px;
    color: #727171;
    line-height: 26px;
}
#Foot .fo1 ul li.erweima p.ma1 img{
	height:104px;
	width:104px;
}
#Foot .fo1 ul li.erweima p.ma2{
	text-align: center;
    font-size: 14px;
    color: #727171;
    line-height: 26px;
}
#Foot .fo1 ul li.erweima p.ma2 em{
	color: #a10000;
}
#Foot .fo2{
	height: 26px;
    padding: 17px 0px 14px;
    background: #f8f8f8;
    width: 100%;
    margin: 0;
}
#Foot .fo2 ul li{
	padding: 0px 65px;
    line-height: 26px;
    border-right: 1px solid #dadadb;
    width: auto;
    text-align: center;
    margin-right: 0px;
    float:left;
}
#Foot .fo2 ul li a{
	color: #323232;
}
#bottom .tom{
	width: 100%;
    height: auto;
    margin: 0px auto;
    border-top: 1px solid #3e3a39;
}
#bottom .tom .foo{
	width: 1200px;
    height: auto;
    margin: 10px auto;
}
#bottom .tom .foo p{
	text-align: center;
    line-height: 25px;
    color: #3e3a39;
}
#bottom .ter{
	width:980px;
	margin:0 auto 25px;
	text-align:center;
}
#bottom .ter .tu1{
	background: url(../images/spritesbgtop.png) no-repeat scroll 0 -581px transparent;
    display: inline-block;
    height: 42px;
    width: 113px;
}
#bottom .ter .tu2{
	background:url(../images/spritesbgtop.png) no-repeat scroll 0 -629px transparent;
    display: inline-block;
    height: 45px;
    width: 156px;
}
#bottom .ter .tu3{
	background:url(../images/spritesbgtop.png) no-repeat scroll 0 -675px transparent;
    display: inline-block;
    height: 42px;
    width: 96px;
}
#bottom .ter .tu4{
	background:url(../images/spritesbgtop.png) no-repeat scroll -97px -675px transparent;
    display: inline-block;
    height: 42px;
    width: 101px;
}
#bottom .ter .tu5{
	background:url(../images/spritesbgtop.png) no-repeat scroll -202px -675px transparent;
    display: inline-block;
    height: 42px;
    width: 42px;
}
#bottom .ter .tu6{
	margin: 0 10px;
}
#bottom .ter .tu6 img{
	width: 120px;
    height: 42px;
}
#cbl{
	width: 73px;
    height: 287px;
    border: 1px solid #b81b22;
    border-bottom: none;
    margin-bottom: 30px;
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 10000;
}
#cbl ul li{
	    width: 73px;
    border-bottom: 1px solid #b81b22;
}
#cbl ul li a{
	display: block;
    width: 73px;
}
#cbl ul li.cbl1 a{	
	height: 76px;
    background: url(../images/baywindow0716.png) no-repeat -1px -1px;
}
#cbl ul li.cbl2 a{	
	height: 76px;
    background: url(../images/baywindow0716.png) no-repeat -1px -78px;
}
#cbl ul li.cbl3 a{	
	height: 76px;
    background: url(../images/baywindow0716.png) no-repeat -1px -156px;
}
#cbl ul li.cbl4 a{
	height: 55px;
    background: url(../images/baywindow.png) no-repeat -1px -149px;
}
.xq{
	width: 250px;
    overflow: hidden;
    background-color: #f7f7f7;
    margin-bottom: 10px;
    margin: 10px auto; 
}
.xq li{
	float:left;
}
.xq li.img img{
	width:36px;
	height:36px;
}
.xq li.title{
	width:86px;
	overflow:hidden;
	margin-left:20px;
	line-height: 36px;
}
.xq li.moy{
	line-height: 36px;
	margin-left:20px;
}
.xq li.ls{
	line-height: 36px;
	margin-left:20px;
}
.dddiiivvv{
	width:300px;
	height:30px;
}
.dddiiivvv em{
	line-height:30px;
	font-size:14px;
}
